<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>New product:</h1>
    <form th:action="@{/product/add}"
          th:object="${product}" method="POST">
        <p>Title:
            <input type="text" th:field="*{title}" />
        </p>
        <p> Description:
            <input type="text" th:field="*{description}" />
        </p>
        <input class ="button-main-page" type="submit" value="Add" />
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;text-align:-webkit-center;">
</div>
</body>